<footer class="uk-section uk-section-primary uk-padding-large">
  <div class="uk-align-center uk-text-center">
    <p>Rob Lahoda<br><a href="mailto:rob@roblahoda.com" uk-icon="icon: mail">rob@roblahoda.com</a><br><a href="tel:1-614-783-7501" uk-icon="icon: receiver">+1-614-783-7501</a></p>
  </div>
  <div class="uk-align-center uk-text-center uk-margin-remove-bottom">© 2018 Robert Lahoda</div>
  <p class="uk-text-small uk-text-muted">Drupal and Codepen icons used from <a href="https://fontawesome.com">Font Awesome</a> under the <a href="https://fontawesome.com/license">Creative Commons Attribution 4.0 license</a>. No changes were made to the file aside from resizing and changing
    the background color.</p>
</footer>
