{% extends '../blogBase.twig' %}
{% block heading %}
        <h1 id="projectsTagline" class="pageTagline"> Getting Greensock Animation (GSAP) Running With React Hooks</h1>
        <h2>Jan 27, 2020</h2>
{% endblock %}
{% block primarycontent %}
      {% markdown '2020-01-27-getting-greensock-animation-gsap-running-with-react-hooks.md' %}{% endmarkdown %}
{% endblock %}
