{% extends '../blogBase.twig' %}
{% block heading %}
        <h1 id="projectsTagline" class="pageTagline">An Easy Way To Practice With Twig Without Drupal</h1>
        <h2>Mar 28, 2018</h2>
{% endblock %}
{% block primarycontent %}
      {% markdown 'an-easy-way-to-practice-with-twig-without-drupal.md' %}{% endmarkdown %}
{% endblock %}
