{% extends '../blogBase.twig' %}
{% block heading %}
        <h1 id="projectsTagline" class="pageTagline">CyclingStats Part 1</h1>
        <h2>Oct 20, 2020</h2>
{% endblock %}
{% block primarycontent %}
      {% markdown 'cyclingstats-1.md' %}{% endmarkdown %}
{% endblock %}
