{% extends '../blogBase.twig' %}
{% block heading %}
        <h1 id="projectsTagline" class="pageTagline">CyclingStats Part 2</h1>
        <h2>Oct 26, 2020</h2>
{% endblock %}
{% block primarycontent %}
      {% markdown 'cyclingstats-3.md' %}{% endmarkdown %}
{% endblock %}
