{% extends '../base.twig' %}
{% block primarycontent %}
<header>
  <div class="pageTopImage">

  </div>
</header>

<main>
  <div class="pageHeading">
    <!-- <h1 class="bigTitle">
      Blog</h1> -->
      <div class="pageTagline__container">
        <h1 id="projectsTagline" class="pageTagline">Flash Card Project – Getting started</h1>
        <h2>Mar 6, 2016</h2>
      </div>
    <p></p>
  </div>
  <div class="blogContainer">
    <div class="infoCard">
      {% markdown 'putting-my-work-out-there.md' %}{% endmarkdown %}
      <p data-height="468" data-theme-id="0" data-slug-hash="eZJPaw" data-default-tab="result" data-user="rlahoda" class="codepen">See the Pen <a href="http://codepen.io/rlahoda/pen/eZJPaw/">Flashcards v0.1</a> by Rob Lahoda (<a href="http://codepen.io/rlahoda">@rlahoda</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    </div>


  </div>

</main>

{% endblock %}
