{% extends '../blogBase.twig' %}
{% block heading %}
        <h1 id="projectsTagline" class="pageTagline">Flashcard Site – Update 6</h1>
        <h2>Apr 20, 2016</h2>
{% endblock %}
{% block primarycontent %}
      {% markdown 'flashcard-site-update-6.md' %}{% endmarkdown %}
{% endblock %}
