{% extends '../base.twig' %}
{% block primarycontent %}
<header>
  <div class="pageTopImage">

  </div>
</header>

<main>
  <div class="pageHeading">
    <!-- <h1 class="bigTitle">
      Blog</h1> -->
      <div class="pageTagline__container">
        <h1 id="projectsTagline" class="pageTagline">Flashcard Site – Update 8</h1>
        <h2>APR 22, 2016</h2>
      </div>
    <p></p>
  </div>
  <div class="blogContainer">
    <div class="blogCard">
      {% markdown 'flashcard-site-update-8.md' %}{% endmarkdown %}
    </div>


  </div>

</main>

{% endblock %}
