{% extends '../blogBase.twig' %}
{% block heading %}
        <h1 id="projectsTagline" class="pageTagline">Trying to get more out of Google Analytics</h1>
        <h2>Apr 22, 2017</h2>
{% endblock %}
{% block primarycontent %}
      {% markdown 'trying-to-get-more-out-of-google-analytics.md' %}{% endmarkdown %}
{% endblock %}
