@mixin respond-at($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}

$bp-xsmall: 600px;
$bp-small: 780px;
$bp-med: 1060px;
$bp-large: 1400px;

$cardColor1: #83F1FF;
$cardColor2: #B48FE8;
$cardColor3: #FF98A1;
$cardColor4: #7AD19C;
$cardColor5: #FFEF67;


@import "partials/reset";
@import "partials/icons";
@import "partials/typography";
@import "partials/nameImage";
@import "partials/nav";
@import "partials/utility";
@import "partials/homepage_main";
@import "partials/projects";
@import "partials/contact";


body {

}



main {

}

h1 {
  font-size: 1.5em;
  &::first-letter {
    text-transform: capitalize;
  }
  @include respond-at($bp-med) {
    font-size: 2em;
  }
  @include respond-at($bp-large) {
    font-size: 4em;
  }
  font-weight: normal;
}

.pageHeading {
  text-align: right;
  margin: 5px;
  @include respond-at($bp-small) {
    margin: 10px;
  }
  @include respond-at($bp-med) {
    margin: 15px;
  }
  @include respond-at($bp-large) {
    margin: 30px;
  }
}

.pageTagline {

}
.pageTopImage {
  height: 10vh;
  width: 75%;
  // background-color: purple;
}




.infoCard {
  padding: 50px;
  text-align: center;
  // background-color: blue;
  color: black;

  & a {
    color: inherit;
  }
  &:nth-child(5n) {
    background-color: $cardColor1;
    box-shadow: 10px 10px $cardColor2;
    // color: black;
  }
  &:nth-child(5n+1) {
    background-color: $cardColor2;
    box-shadow: 10px 10px $cardColor3;
    // color: white;
  }
  &:nth-child(5n+2) {
    background-color: $cardColor3;
    box-shadow: 10px 10px $cardColor4;
    // color: white;
  }
  &:nth-child(5n+3) {
    background-color: $cardColor4;
    box-shadow: 10px 10px $cardColor5;
    // color: white;
  }
  &:nth-child(5n+4) {
    background-color: $cardColor5;
    box-shadow: 10px 10px $cardColor1;
    // color: black;
  }
}
