<footer>
  <div class="footerLinks__container">
    <h4 class="">Say Hi!</h4>
  <ul class="noList noListBlock footerLinks__list">
              <li class="footerLinks__list--item">
          <a class="footerLinks__link" href="mailto:rob@roblahoda.com" onclick="trackOutboundLink('rob@roblahoda.com'); return false;" target="_blank"><span class="icons footerLinks__link--icon" id="email"></span>
          <p class="">Email</p></a>
        </li>
              <li class="footerLinks__list--item">
          <a class="footerLinks__link" href="https://twitter.com/rlahoda" onclick="trackOutboundLink('https://twitter.com/rlahoda'); return false;" target="_blank"><span class="icons footerLinks__link--icon" id="twitter"></span>
          <p class="">Twitter</p></a>
        </li>
              <li class="footerLinks__list--item">
          <a class="footerLinks__link" href="https://github.com/rlahoda" onclick="trackOutboundLink('https://github.com/rlahoda'); return false;" target="_blank"><span class="icons footerLinks__link--icon" id="github"></span>
          <p class="">Github</p></a>
        </li>
              <li class="footerLinks__list--item">
          <a class="footerLinks__link" href="https://codepen.io/rlahoda/" onclick="trackOutboundLink('https://codepen.io/rlahoda/'); return false;" target="_blank"><span class="icons footerLinks__link--icon" id="codepen">
          </span>
          <p class="">Codepen</p></a>
        </li>
              <li class="footerLinks__list--item">
          <a class="footerLinks__link" href="https://www.drupal.org/u/rlahoda/" onclick="trackOutboundLink('https://www.drupal.org/u/rlahoda/'); return false;" target="_blank"><span class="icons footerLinks__link--icon" id="drupal"></span>
          <p class="">Drupal.org</p></a>
        </li>
              <li class="footerLinks__list--item">
          <a class="footerLinks__link" href="https://www.linkedin.com/in/robert-lahoda/" onclick="trackOutboundLink('https://www.linkedin.com/in/robert-lahoda/'); return false;" target="_blank"><span class="icons footerLinks__link--icon" id="linkedin"></span>
          <p class="">Linkedin</p></a>
        </li>
            </ul>
            <p class="smallText">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Rob Lahoda - Logos are property of their respective owners.</p>

</div>
<script src="/vendor/prism/prism.js"></script>
</footer>
