<nav class="navFixed">
  <ul id="navList" class="noList navList">
    <li id="navList__menuLink" class="navList_in"><a href="javascript:void(0);" onclick="navListAnimate()">Menu</a><span id="navList__menuLink--arrow">⇦</span></li>
    <li class="navList__navItem" id="navList__homeLink"><a href="/">Home</a></li>
    <li class="navList__navItem" id="navList__aboutLink"><a href="about.html">About</a></li>
    <li class="navList__navItem" id="navList__projectsLink"><a href="projects.html">Projects</a></li>
    <li class="navList__navItem" id="navList__contactLink"><a href="contact.html">Contact</a></li>
  </ul>
</nav>
