<nav class="navFixed">
  <ul id="navList" class="navList">
    <li class="navList__navItem" id="navList__homeLink"><a href="../">Home</a></li>
    <li class="navList__navItem" id="navList__aboutLink"><a href="../about.html">About</a></li>
    <li class="navList__navItem" id="navList__projectsLink"><a href="../projects.html">Projects</a></li>
    <li class="navList__navItem" id="navList__projectsLink"><a href="../blog.html">Blog</a></li>
    <li class="navList__navItem" id="navList__contactLink"><a href="../contact.html">Contact</a></li>
  </ul>
</nav>
