// Width Breakpoints
$bp-xsmall: 400px;
$bp-small: 750px;
$bp-med: 1000px;
$bp-large: 1600px;

@mixin respond-at($media) {
  @media only screen and (min-width: $media) { @content; }
}

@mixin respond-ht($media) {
  @media only screen and (min-height: $media) { @content; }
}
