{% extends 'base.twig' %}

{% block primarycontent %}
<div class="uk-section" uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        <h2 class="uk-margin-top">{{ contents.title }}</h2>
        <hr class="uk-divider-icon">
      </div>
    </div>
    <div class="uk-section uk-grid-match" uk-grid>
      <div class="uk-width-1-4">

      </div>
      <div class="uk-width-1-2@m uk-padding-large uk-padding-remove-top">
        {% for degree in contents.degrees %} 
        <h3 class="uk-margin-remove-bottom">{{ degree.title }}</h3>
        <p class="uk-text-bold uk-text-small uk-margin-remove">{{ degree.school }}</p>
        {% if degree.achievements %}
          <ul class="uk-list uk-list-bullet">
          {% for achievement in degree.achievements %}
            <li>{{ achievement }}</li>
          {% endfor %}
        {% endif %}
        </ul>
        {% endfor %}
      </div>
      </li>
      </ul>
    </div>
    <div class="uk-width-1-4">

    </div>




{% endblock %}
