<!DOCTYPE html>
<html lang="en">

{% include 'partials/header.twig' %} 

  <body>
    <div class="uk-offcanvas-content">
      <div class="uk-section uk-section-primary uk-height-medium" {% if page.backgroundimage %}style="background-image: url(assets/img/{{ page.backgroundimage }}); background-position: bottom; background-repeat: no-repeat; background-size: cover;"{% endif %}>
        <div {% if page.backgroundimage %}style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, .5);"{% endif %}>
          <h1 class="uk-heading-line uk-text-center uk-margin-large"><span>Rob Lahoda • {{ page.label }}</span></h1>
          <h3 class="uk-text-center"><a class="uk-link-heading" href="mailto:rob@roblahoda.com">rob@roblahoda.com</a></h3>
        </div>
      </div>
{% include 'partials/nav.twig' %}

{% block primarycontent %}

{% endblock %}
{% include 'partials/footer.twig' %}
{% include 'partials/offcanvas.twig' %}
{% include 'partials/scripts.twig' %}</div>
  </body>
</html>
