{% extends 'base.twig' %}

{% block primarycontent %}
<div class="uk-section" uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        <h2 class="uk-margin-top">{{ contents.title }}</h2>
        <hr class="uk-divider-icon">
      </div>
    </div>
    <div class="uk-section uk-grid-match" uk-grid>
      <div class="uk-width-1-4">

      </div>
      <div class="uk-width-1-2@m uk-padding-large uk-padding-remove-top">
        <ul uk-accordion="collapsible: false">
          {% for job in contents.jobs %}
            <li>
              <a class="uk-accordion-title" href="#">{{ job.title }} {{ job.date }}</a>
              <div  class="uk-accordion-content">
                <ul class="uk-list uk-list-bullet">
                  {% for line in job.content %}
                    <li>{{ line }}</li>
                  {% endfor %}
                </ul>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="uk-width-1-4">

      </div>




{% endblock %}
